# ===================================================================
# BACHES RD — PLANILLA DE VARIABLES DE ENTORNO DEL PROYECTO
# ===================================================================

# -------------------------------------------------------------------
# BACKEND (Spring Boot)
# Configurar en IntelliJ IDEA -> Run/Debug Configurations -> Environment Variables
# -------------------------------------------------------------------
JWT_SECRET=074142544c0e3e63e4c3c1ae7b76bd8852a40e3d3a45665b9393b59f85f6881e
JWT_EXPIRATION=86400000

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# -------------------------------------------------------------------
# FRONTEND WEB (React + Vite)
# -------------------------------------------------------------------
VITE_API_URL=http://localhost:8080/api/v1
